body {
    font-family: 'Raleway', sans-serif;
    background: #f0f0f0;
}
.title {
    color: white;
    text-align: center;
    padding: 30px;
    margin: 40px 0;
    /* margin: 0 auto; */
} 
.recipeBtn {
    display: block;
}
.hero {
    padding: 50px;
    height: 100vh;
    background-image: url(assets/heroA.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.urlInput {
    display: flex;
    flex-direction: column;
    max-width: 65%;
    max-width: 60%;
    margin: 0 auto;
}
.textArea, .submitBtn {
    /* width: 80%; */
    padding: 10px;
    border-radius: 25px;
    margin: 10px;
    border-style: none;
    text-align: center;
}
.navbar {
    width: 100%;
    margin-right: 0;
    /* margin: 0; */
}
.submitBtn {
    /* width: 80%; */
}
.Btns {
    display: block;
    border-radius: 25px;
    padding: 10px;
    border-style: none;
    transition: all ease .4s;
    width: 50%;
    margin: 10px 0;
    border: 2px solid orange;
    /* min-width: 20%; */
    /* background: #fafafa; */
}
.Btns:hover {
    color: white;
    background: orange;
    border: 2px solid orange;
    border-radius: 25px;
    padding: 10px;
    border-style: none;
}
.cookingIcon {
    /* min-width: 15%; */
    max-width: 10%;
    margin: 0 10px;
}
/* .icon {
    width
} */
/* .common {
    width: 50%;
    padding: 20px;
    margin: 20px auto;
    border: 1px solid grey;
    border-radius: 20px;
}
.box {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 40vh;
}
.rows{
    display: flex;
    flex-direction: column;
    height: 40vh;

} */
img {
    max-width: 100%;
    height: auto;
}
.imgContent {
    max-width: 50%;
}
/* .rowsContent {
    display: flex;
    flex-direction: row;
} */
.viewPort {
    width: 100%;
    height: 100vh;
    padding: 100px 0;
}

.favorite {
    color: black;
    text-decoration: none;
    transition: all ease .4s;
}
.favorite:hover {
    text-decoration: none;
    color: orange;
}
.position-absolute {
    top: 20px;
    right: 20px;
}
.navbar-brand, .nav-item {
    color: #3b3b3b;
    transition: all ease .4s;
    font-size: 1.3rem;

}
.navbar-brand:hover, .nav-item:hover {
    color: orange;
}
.navbar-toggler-icon {
    color: black;
}
.recipeSteps {
    background-image: linear-gradient(45deg, #8fcfe3, #d6ffed);
    /* height: 85vh; */
    padding: 10px;
    border-radius: 5px;
    margin: 50px auto;
    filter: drop-shadow(1px 1px 5px rgb(138, 140, 141));
}
.card {
    filter: drop-shadow(1px 1px 5px rgb(138, 140, 141));
}