body {
    font-family: 'Raleway', sans-serif;
    background: #f0f0f0;
}
.title {
    color: white;
    text-align: center;
    padding: 30px;
    margin: 40px 0;
    /* margin: 0 auto; */
} 
.hero{
    background-image: url(https://i.pinimg.com/736x/7f/c3/68/7fc368a806702a5968b9baeb1ecfb76c.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    padding: 50px;
    background-position: center;
    margin-bottom: 4em;   
}

#heading{
    text-align: right;
    font-size: 4em;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 80px;  
    
}
.Del{
    display: block;
    border-radius: 25px;
    padding: 10px;
    border-style: none;
    transition: all ease .4s;
    width: 50%;
    margin: 10px 0;
    border: 2px solid orange;
}
.Btns {
    display: block;
    border-radius: 25px;
    padding: 10px;
    border-style: none;
    transition: all ease .4s;
    width: 50%;
    margin: 10px 0;
    border: 2px solid orange;
    /* min-width: 20%; */
    /* background: #fafafa; */
}
.Btns:hover, .Del:hover {
    color: white;
    background: orange;
    border: 2px solid orange;
    border-radius: 25px;
    padding: 10px;
    border-style: none;
}
.navbar-brand, .nav-item {
    color: #3b3b3b;
    transition: all ease .4s;
    font-size: 1.3rem;
}
.navbar-brand:hover, .nav-item:hover {
    color: orange;
}
.navbar-toggler-icon {
    color: black;
}
.card {
    filter: drop-shadow(1px 1px 5px rgb(138, 140, 141));
    margin-bottom: 20px;
}
.recipeBtn {
    display: block;
}
.urlInput {
    display: flex;
    flex-direction: column;
    width: 65%;
    min-width: 60%;
    margin: 0 auto;
}
.textArea, .submitBtn {
    /* width: 80%; */
    padding: 10px;
    border-radius: 25px;
    margin: 10px;
    border-style: none;
    text-align: center;
}
.navbar {
    width: 100%;
    margin-right: 0;
    /* margin: 0; */
}
.fa:hover {
    color: orange;
}
.backNext {
    width: 40%;
    display: inline;
}
.cookingIcon {
    /* min-width: 15%; */
    max-width: 10%;
    margin: 0 10px;
}

.ingredientList ul {
    padding-left: 5px;
}
.ingredientList ul li {
    float: left;
    margin: 0 10px;
    width: 30%;
    padding: 0 10px;
}

.hide {
    display: none;
}
img {
    max-width: 100%;
    height: auto;
}
.viewPort {
    width: 100%;
    padding: 100px 0;
}

.favorite {
    color: black;
    text-decoration: none;
    transition: all ease .4s;
}
.favorite:hover {
    text-decoration: none;
    color: orange;
}
.position-absolute {
    top: 20px;
    right: 20px;
}
.navbar-brand, .nav-item {
    color: #3b3b3b;
    transition: all ease .4s;
    font-size: 1.3rem;

}
.navbar-brand:hover, .nav-item:hover {
    color: orange;
}
.navbar-toggler-icon {
    color: black;
}
.recipeIngredient {
    margin: 50px 0;
}
.recipeSteps {
    height: 100vh;
    background-image: linear-gradient(45deg, #8fcfe3, #d6ffed);
    /* height: 85vh; */
    padding: 10px;
    border-radius: 5px;
    margin: 50px auto;
    filter: drop-shadow(1px 1px 5px rgb(138, 140, 141));
}